.admin {
  color: #fff;
}
.admin__box {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.admin__box label {
  width: 140px;
}
.admin__form {
  margin-bottom: 25px;
}
.admin__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}
.admin__button_add,
.admin__button_remove {
  margin-bottom: 40px;
}
.title,
.data,
.place,
.description,
.image,
.danceFloorCount,
.danceFloorPrice,
.tables,
.tablePrice,
.concert_id {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  background: border-box;
}
.title:focus,
.data:focus,
.place:focus,
.description:focus,
.image:focus,
.danceFloorCount:focus,
.danceFloorPrice:focus,
.tables:focus,
.tablePrice:focus,
.concert_id:focus {
  border-color: red;
}
