html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif !important;
}
body {
  min-width: 380px;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-container {
  flex: 1;
  padding: 50px;
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  box-shadow: 0px 5px 20px 5px #ff1d158a;
  position: relative;
  background-image: url(../images/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container {
  max-width: 1100px;
  min-width: 200px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  font-size: 40px;
  color: #bbbaba;
  margin: 0 10px;
  transition: all 0.5s;
}
.header__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #ff1d15;
}
.header__item.active {
  color: #fff;
}
.header__item.active:hover {
  color: #ff1d15;
}
.header__logo {
  height: 90px;
  width: 90px;
  transition: all 0.4s;
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 950px) {
  .header__item {
    font-size: 30px;
  }
  .header__logo {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 450px) {
  .header__item {
    font-size: 20px;
  }
  .header__logo {
    height: 60px;
    width: 60px;
  }
}
.about__info {
  font-size: 70px;
  color: #154bff;
  margin: auto;
  margin-bottom: 55px;
  margin-top: 40px;
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  transition: all 1s;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.about__email {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: #000000;
  border-radius: 6px;
  height: 58px;
  width: 58px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 1.3s;
}
.about__email.visible {
  width: 300px;
}
.about__email.visible:hover {
  cursor: pointer;
  box-shadow: 0 0 1px #154bff, 0 0 5px #154bff, 0 0 25px #154bff, 0 0 50px #154bff;
}
.about__logo {
  margin: 0 9px;
  color: #fff;
  font-size: 40px;
  transition: all 1s;
}
.about__text {
  flex-shrink: 0;
  margin-left: 15px;
  color: #fff;
  transition: all 0.3s;
}
.about__text:hover {
  color: #ff9100;
  cursor: pointer;
}
.form-box {
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  transform: translateX(-500%);
  opacity: 0;
  transition: all 1s;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.form-box.visible {
  opacity: 1;
  transform: translateX(0);
}
.form-box h2 {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}
.form-box .user-box {
  position: relative;
}
.form-box .user-box {
  position: relative;
}
.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #154bff;
  font-size: 12px;
}
.form-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #154bff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.form-box a:hover {
  background: #154bff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #154bff, 0 0 25px #154bff, 0 0 50px #154bff, 0 0 100px #154bff;
}
.form-box a span {
  position: absolute;
  display: block;
}
.form-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #154bff);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.form-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #154bff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.form-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #154bff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.form-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #154bff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.about__slider {
  margin-bottom: 20px;
  position: relative;
}
.about__buttons {
  display: flex;
  transition: all 0.8s;
  position: relative;
  top: 400px;
  left: 0px;
}
.about__buttons_prev,
.about__buttons_next {
  width: 60px;
  height: 60px;
  background: #ffffff38;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  transition: all 0.8s;
}
.about__buttons_prev:hover,
.about__buttons_next:hover {
  background: #ffffff77;
  cursor: pointer;
  color: #154bff;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  transform: translateX(-200%);
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.slide__active {
  transform: translateX(0%);
  opacity: 1;
}
.slide__title {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.slide__avatar {
  height: 280px;
  width: 280px;
  margin-bottom: 15px;
  border-radius: 15px;
  transition: all 0.3s;
}
.slide__button {
  display: inline-block;
}
@media (max-width: 950px) {
  .about__info {
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .about__info {
    font-size: 30px;
  }
}
@media (max-width: 460px) {
  .about__info {
    font-size: 25px;
  }
  .content-container {
    padding: 20px;
  }
  .form-box {
    width: 300px;
  }
}
.concert {
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0);
  transition: all 0.8s;
}
.concert:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 15px #ff0000;
}
.concert__avatar {
  height: 280px;
  width: 280px;
  margin-right: 30px;
  border-radius: 15px;
  transition: all 0.3s;
}
.concert__avatar:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.concert__description {
  width: 100%;
}
.concert__info {
  color: red;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .concert {
    flex-direction: column-reverse;
    transition: all 0.8s;
  }
  .concert__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .concert__avatar {
    height: 230px;
    width: 230px;
  }
}
.info {
  color: #fff;
}
.info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.info__header_title {
  font-size: 70px;
}
.info__block {
  display: flex;
  transition: all 0.3s;
}
.info__scheme {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0);
  transition: all 0.3s;
}
.info__scheme:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 10px 10px #ff0000;
}
.info__scheme_scene {
  width: 200px;
  height: 60px;
  border: 1px solid red;
  border-radius: 5px 5px 50% 50%;
  background: rgba(255, 36, 36, 0.473);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.info__scheme_dance {
  width: 300px;
  height: 100px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.3s;
}
.info__scheme_dance:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background: #00d600;
  border-radius: 15px;
}
.info__scheme_tables {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  width: calc((60px + (8px * 3)) * 3.5);
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.info__scheme_table {
  background: green;
  transition: all 0.3s;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 10px auto;
}
.info__scheme_table:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  background: #00d600;
  border-radius: 5px;
}
.info__about {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0);
  transition: all 0.3s;
  height: min-content;
}
.info__about:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 10px 10px #ff0000;
}
.info__about_title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
.info__about_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.info__about_place,
.info__about_price {
  margin-bottom: 10px;
}
.pending {
  background: #4658f8;
  border: 1px solid red;
}
.pending:hover {
  background: rgba(10, 34, 255);
}
.done {
  background: #ac0000;
  pointer-events: none;
  opacity: 0.4;
}
.button {
  background: #4658f8;
  padding: 10px;
  transition: all 0.3s;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  overflow-x: hidden;
  opacity: 0.9;
  align-self: flex-end;
  color: #000;
}
.button:hover {
  color: #fff;
  cursor: pointer;
  opacity: 1;
  background: rgba(10, 34, 255);
  border-radius: 10px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 1px #154bff, 0 0 3px #154bff, 0 0 5px #154bff, 0 0 10px #154bff;
}
@media (max-width: 890px) {
  .info__block {
    flex-direction: column;
  }
  .info__scheme {
    margin-bottom: 30px;
  }
  .info__about {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .info__header {
    flex-direction: column-reverse;
  }
}
.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm__edit {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0);
  transition: all 0.3s;
  height: min-content;
  width: 70%;
}
.confirm__edit:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.confirm__edit_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.confirm__edit_title {
  font-size: 50px;
  margin: auto;
  margin-bottom: 15px;
}
.confirm__edit_description,
.confirm__edit_type,
.confirm__edit_price {
  margin-bottom: 10px;
}
.confirm__edit_buttons {
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  width: auto;
}
.confirm__edit_back,
.confirm__edit_save {
  margin: auto;
  margin: 10px;
}
.confirm__box {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.confirm__box label {
  color: red;
  width: 140px;
}
.phone,
.name,
.email,
.confirm-edit__count {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  background: border-box;
  width: 90%;
}
.phone:focus,
.name:focus,
.email:focus,
.confirm-edit__count:focus {
  border-color: red;
}
.confirm-edit__count {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.confirm-edit__count::-webkit-outer-spin-button,
.confirm-edit__count::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 760px) {
  .confirm__edit {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .confirm__edit_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .confirm__edit_save.button {
    margin: auto;
  }
}
.price {
  color: green;
}
.admin {
  color: #fff;
}
.admin__box {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.admin__box label {
  width: 140px;
}
.admin__form {
  margin-bottom: 25px;
}
.login,
.password {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  background: border-box;
}
.login:focus,
.password:focus {
  border-color: red;
}
.admin {
  color: #fff;
}
.admin__box {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.admin__box label {
  width: 140px;
}
.admin__form {
  margin-bottom: 25px;
}
.login,
.password {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  background: border-box;
}
.login:focus,
.password:focus {
  border-color: red;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: black;
}
.footer__info {
  color: #bbbaba;
}
