.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm__edit {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0);
  transition: all 0.3s;
  height: min-content;
}
.confirm__edit:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.confirm__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
